<% content_for :title, "Edit Settings" %>

<div class="sm:mt-10 p-4 bg-white sm:mx-auto sm:w-full sm:max-w-lg sm:rounded-md">
  <%= render partial: "shared/nav" %>
  <%= form_with model: @user, url: profile_path do |form| %>
    <div class="space-y-4">
      <h1>Edit Settings</h1>
      <% if @user.errors.any? %>
        <div class="text-red-600">
          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :password, class: "block" %>
        <%= form.password_field :password, autocomplete: "new-password", class: "w-full" %>
      </div>

      <div>
        <%= form.label :password_confirmation, class: "block" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
      </div>

      <div>
        <%= form.submit "Update", class: "button-primary button-full" %>
      </div>
    </div>
  <% end %>
</div>
