<% content_for :title, "Edit Settings" %>

<div class="sm:mt-10 p-4 bg-white sm:mx-auto sm:w-full sm:max-w-lg sm:rounded-md">
  <%= render partial: "shared/nav" %>
  <%= form_with model: @user, url: profile_path do |form| %>
    <div class="space-y-4">
      <h1>Edit Settings</h1>
      <% if @user.errors.any? %>
        <div class="text-red-600">
          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :password, class: "block" %>
        <%= form.password_field :password, autocomplete: "new-password", class: "w-full" %>
      </div>

      <div>
        <%= form.label :password_confirmation, class: "block" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
      </div>

      <div>
        <%= form.submit "Update", class: "button-primary button-full" %>
      </div>
    </div>
  <% end %>

  <hr />

  <div class="space-y-2">
    <h1>Direct Upload</h1>

    <div>
      <%= label_tag :upload_key, nil, { class: "block" } %>
      <%= tag.div class: "relative rounded-md shadow-sm",
        data: {
          controller: "clipboard",
          clipboard_text_value: current_user.upload_key
        } do %>
        <%= text_field_tag :upload_key, current_user.upload_key, autocomplete: "off", class:"block w-full rounded-md border-0 py-1.5 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
        <div class="absolute inset-y-0 right-0 flex items-center">
          <%= button_tag "Copy", class: "h-full py-0 button-primary sm:text-sm", data: { action: "click->clipboard#copy", clipboard_target: "button" } %>
        </div>
      <% end %>
    </div>

    <%= button_to "Regenerate", upload_key_path, class: "button-primary button-full" %>
  </div>

  <hr />

  <div class="space-y-2">
    <div>
      <h4>CURL Example:</h4>
      <div class="font-mono whitespace-pre-line overflow-x-scroll">$ curl -i -X POST \
        -H "Authorization: Bearer UPLOAD_KEY" \
        -F file=@../path/to/file.txt \
        <%= request.base_url %>/uploads
      </div>
    </div>
  </div>
</div>
