<% content_for :title, "User Setup" %>

<%= form_with model: @user, url: profile_path, class: "sm:mt-10 p-4 bg-white sm:mx-auto sm:w-full sm:max-w-lg sm:rounded-md" do |form| %>
  <div class="space-y-4">
    <h1>User Setup</h1>
    <% if @user.errors.any? %>
      <div class="text-red-600">
        <h3>Could not set password</h3>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-2">
      <%= form.label :password, class: "block" %>
      <%= form.password_field :password, class: "textfield", autocomplete: "new-password" %>
    </div>

    <div class="space-y-2">
      <%= form.label :password_confirmation, class: "block" %>
      <%= form.password_field :password_confirmation, class: "textfield", autocomplete: "new-password" %>
    </div>

    <div>
      <%= form.submit "Set Password", class: "button-primary button-full" %>
    </div>
  </div>
<% end %>

