<% content_for :title, "File Details" %>

<div class="sm:mt-10 p-4 bg-white sm:mx-auto sm:w-full sm:max-w-lg sm:rounded-md">
  <%= render partial: "shared/nav" %>
  <div class="space-y-4">
    <h1><%= @upload.file.filename %></h1>
    <div>Type: <%= @upload.file.content_type %></div>
    <div>Size: <%= number_to_human_size(@upload.file.byte_size) %></div>
    <%= button_to "Download", download_file_path(@upload), class: "button-primary button-full", form: { data: { turbo: false } } %>
  </div>

  <div class="my-4 p-4 space-y-4 border border-blue-400 rounded-md">
    <%= tag.div class: "relative mt-2 rounded-md shadow-sm",
      data: {
        controller: "clipboard",
        clipboard_text_value: @share_url
      } do %>
      <%= text_field_tag :share_url, @share_url, autocomplete: "off", class:"textfield w-full pr-20" %>
      <div class="absolute inset-y-0 right-0 flex items-center">
        <%= button_tag "Copy", class: "h-full py-0 button-primary sm:text-sm", data: { action: "click->clipboard#copy", clipboard_target: "button" } %>
      </div>
    <% end %>
  </div>
</div>
