<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Filez" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-500">
    <%= turbo_frame_tag :modal %>
    <% if alert.present? %>
      <aside data-controller="dismiss" data-dismiss-target="content" data-action="click->dismiss#close" class="cursor-pointer w-full fixed bottom-0 z-50 bg-red-500 px-4 py-2 text-white transition hover:bg-red-600">
        <div class="text-center font-bold"><%= alert %></div>
      </aside>
    <% end %>
    <% if notice.present? %>
      <aside data-controller="dismiss" data-dismiss-target="content" data-action="click->dismiss#close" class="cursor-pointer w-full fixed bottom-0 z-50 bg-green-500 px-4 py-2 text-white transition hover:bg-green-600">
        <div class="text-center font-bold"><%= notice %></div>
      </aside>
    <% end %>
    <main class="mx-0 sm:mx-4">
      <%= yield %>
    </main>
  </body>
</html>
